body {
  background-color: #f9f9f9;
}

.week-btn {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
  flex: 1;
  min-width: 90px;
}

.week-btn.active,
.week-btn:focus,
.week-btn:active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-day {
  background-color: #d1d0d0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border: none;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-day:hover,
.btn-day.active {
  background-color: #000;
  color: #fff;
}

.card-step {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
}

.card-step input[type="checkbox"] {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 20px;
  height: 20px;
  accent-color: black;
  background-color: white;
  border: 1px solid #000;
}
